name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm run lint

      - name: Prepare build
        run: pnpm run dev:prepare

      - name: Test
        run: pnpm run test

      - name: Typecheck
        run: pnpm run test:types

      - name: Build
        run: pnpm run prepack

      - name: Continuous Release
        run: pnpm dlx pkg-pr-new publish --compact
