name: Release

on:
  push:
    tags:
      - 'v**'

permissions:
  id-token: write
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Prepare build
        run: pnpm run dev:prepare

      - name: Build
        run: pnpm run prepack

      - name: Publish to npm
        run: npm i -g npm && pnpm publish --access public --no-git-checks

      - name: Generate Changelog
        run: pnpm changelogen gh release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
